body {
    background-color: #40be40;
}
.container {
    max-width: 300px;
    margin: 200px auto 20px;
    padding: 20px 20px;
    background-color: white;
}

    form {

        display: flex;
        flex-direction: column;

    }
input {

    padding: 15px 15px;
    width: 80%;
    background-color: lightgray;
    margin: 10px auto;
    border: 0;
}

.login {
    text-align: center;
    background-color: green;
    font-size: larger;
    color: white;
    width: 90%;
    transition: .5s;

}
.login:hover {
  background-color: greenyellow;
    cursor: pointer;
}
.btn-bottom {
    text-align: center;
    border: 0;
}
.cancelbtn, .signupbtn {
    border: 0;
    background-color: white;
    font-weight: bold;
}
.cancelbtn{
    color: grey;
}

.signupbtn {
    color: green;
}
#str {
   padding-left: 590px;
}
